# Supabase project
NEXT_PUBLIC_SUPABASE_URL=https://tqhdevjabpceuuvyaeuz.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_zmZkdvk9NlHWHpBP30f_9w_2AbAPCDf

# These are no longer used for lead submission.
# Lead submission now goes through the Supabase Edge Function.
#
# NEXT_PUBLIC_FORM_ENDPOINT=

NEXT_PUBLIC_WHATSAPP=916379017116
NEXT_PUBLIC_CALCULATOR_URL=https://shitanshu.digital/
